Source: numix-frost-theme
Section: gnome
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Build-Depends: debhelper (>= 9),
 ruby-sass
Standards-Version: 3.9.8
Homepage: https://github.com/shimmerproject/Numix
Vcs-Git: https://github.com/GLolol/numix-gtk-themes
Vcs-Browser: https://github.com/GLolol/numix-gtk-themes

Package: numix-frost-theme
Architecture: all
Depends: ${misc:Depends}, gtk2-engines-murrine, libgtk-3-0 (>= 3.16)
Description: modern flat GTK+ theme (Antergos edition)
 Numix is a modern flat theme with a combination of light and dark elements. 
 It supports Gnome, Unity, XFCE and Openbox.
 .
 This package provides Antergos' edition of Numix Frost.
